# settings
set linenumbers
set autoindent
set tabsize 2
set tabstospaces
set nohelp
set matchbrackets "(<[{)>]}"
set brackets ""')>]}"
unset emptyline
set indicator

# colors
set titlecolor cyan
set numbercolor cyan

include "~/.dotfiles/nano/*.nanorc"
