############################################################
# Aliases
############################################################
alias ..="cd .."
if type -p "exa" > /dev/null 2>&1; then 
        alias ll="exa -alh --git --icons"
        alias ls="exa --git --icons"
        else
        alias ll="ls -alh"
fi
alias av="source ./bin/activate"
# cat replacement with bat
if type -p "bat" > /dev/null 2>&1; then
    alias cat="bat"
    elif type -p "batcat"> /dev/null 2>&1; then
    alias cat='batcat'
fi

alias cdans="cd $ANSIBLE_PATH && source ./bin/activate"
alias cdtf="cd $TERRAFORM_PATH"
alias duf="du -sh -- * .*"
# Ansible Aliases
alias apl="ansible-playbook playbooks/$@"
# Terraform Aliases
alias tf='terraform'
alias tfp='terraform plan'
alias tfa='terraform apply'
alias tfaa='terraform apply -auto-approve'
alias tfc='terraform console'
alias tfd='terraform destroy'
alias tfda='terraform destroy -auto-approve'
alias tff='terraform fmt'
alias tfg='terraform graph'
alias tfim='terraform import'
alias tfin='terraform init'
# docker
alias dcp='docker compose pull'
alias dcu='docker compose up -d --force-recreate'
# git
alias gitfpull='git fetch && git pull'
alias gitac='git commit -a -m'
alias gitp='git push'
# dig
alias dig="dig -t any"
alias dig6="dig -6"
#bash dir Colors
# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi
